{% extends 'base.html' %}

{% block title %}
    Анализатор страниц - Сайты
{% endblock %}

{% block main %}
<h1>Сайты</h1>

<div class="table-responsive">
  <table class="table table-bordered table-hover text-nowrap" data-test="urls">
    <thead>
    <tr>
      <th>ID</th>
      <th>Имя</th>
      <th>Последняя проверка</th>
      <th>Код ответа</th>
    </tr>
    </thead>
    <tbody>
    {% if urls %}
        {% for url in urls %}
        <tr>
          <td>{{ url.id }}</td>
          <td><a href="{{ url_for('show_url', id=url.id) }}">{{ url.name }}</a></td>
          {% if checks.get(url.id) %}
            <td>{{ checks[url.id].created_at }}</td>
            <td>{{ checks[url.id].status_code }}</td>
          {% else %}
            <td></td>
            <td></td>
          {% endif %}
        </tr>
        {% endfor %}
    {% endif %}
    </tbody>
  </table>
</div>

{% endblock %}
